/node_modules
/public/hot
/public/storage
/public/js/auth
/public/js/layouts
/public/js/pages
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
socket.js